In [11]:
import subgrounds
import pandas as pd

from subgrounds.subgrounds import Subgrounds

In [12]:
# maximize row width to see tx ids
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)

In [13]:
sg = Subgrounds()

sub = sg.load_subgraph('https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-ethereum')

In [14]:
# https://info.uniswap.org/#/pools/0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640
# https://etherscan.io/address/0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640

# USDC/WETH 
lp_name = '0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640'

In [15]:
sub.Query.liquidityPools # check for a schema to query

FieldPath(https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-ethereum, Query, ['liquidityPools'])

In [16]:
fieldpath = sub.Query.liquidityPools(
    # where = {
    #     'pool': lp_name
    # }
)

In [17]:
col_query_list = list(fieldpath.__dict__.keys())
# remove string values that start with _
col_query_list = [col for col in col_query_list if not col.startswith('_')]

In [18]:
col_query_list

['id',
 'protocol',
 'name',
 'symbol',
 'inputTokens',
 'outputToken',
 'rewardTokens',
 'fees',
 'isSingleSided',
 'createdTimestamp',
 'createdBlockNumber',
 'totalValueLockedUSD',
 'cumulativeSupplySideRevenueUSD',
 'cumulativeProtocolSideRevenueUSD',
 'cumulativeTotalRevenueUSD',
 'cumulativeVolumeUSD',
 'inputTokenBalances',
 'inputTokenWeights',
 'outputTokenSupply',
 'outputTokenPriceUSD',
 'stakedOutputTokenAmount',
 'rewardTokenEmissionsAmount',
 'rewardTokenEmissionsUSD',
 'dailySnapshots',
 'hourlySnapshots',
 'deposits',
 'withdraws',
 'swaps']

In [25]:
col_query_list[16]

'inputTokenBalances'

In [26]:
col_query_val = sub.Query.liquidityPools._select(col_query_list[16])

In [27]:
df1 = sg.query_df(col_query_val)

In [28]:
df1

    liquidityPools_inputTokenBalances
0             30000999999999999716385
1                   13655515497330990
2               783713830845887131050
3                       3485013979444
4                             1000001
..                                ...
195                         102054608
196                      314006691664
197                299999999999715532
198                                14
199                                 9

[200 rows x 1 columns]

In [50]:
sg.query_df(
    [    
    fieldpath.id,
    fieldpath.name,
    fieldpath.inputTokenBalances,
    fieldpath.createdBlockNumber
    ]
)

                              liquidityPools_id                              liquidityPools_name liquidityPools_inputTokenBalances  liquidityPools_createdBlockNumber
0    0x0001fcbba8eb491c3ccfeddc5a5caba1a98c4c28            Uniswap V3 BinanceCZ/Wrapped Ether 1%           30000999999999999716385                           12842087
1    0x0001fcbba8eb491c3ccfeddc5a5caba1a98c4c28            Uniswap V3 BinanceCZ/Wrapped Ether 1%                 13655515497330990                           12842087
2    0x0002e63328169d7feea121f1e32e4f620abf0352            Uniswap V3 Wrapped NXM/ichi.farm 0.3%             793998807708161266250                           14387035
3    0x0002e63328169d7feea121f1e32e4f620abf0352            Uniswap V3 Wrapped NXM/ichi.farm 0.3%                     3444153501174                           14387035
4    0x0003c9d75e102b8a9fe77280ca410e9135beb150   Uniswap V3 ButtonTranche bWBTC A/Tether USD 1%                           1000001                           15651911
..                                          ...                                              ...                               ...                                ...
195  0x026babd2ae9379525030fc2574e39bc156c10583            Uniswap V3 Wrapped BTC/USD Coin 0.01%                         102054608                           15531569
196  0x026c05d9c9a9e4b095c78e31824959009344561a  Uniswap V3 Imperial Credits/Wrapped Ether 0.01%                      314006691664                           15871766
197  0x026c05d9c9a9e4b095c78e31824959009344561a  Uniswap V3 Imperial Credits/Wrapped Ether 0.01%                299999999999715532                           15871766
198  0x0273928ebcb46f954489dd1c40b1113f2aedd05e              Uniswap V3 USHI/Wrapped Ether 0.01%                                14                           15749360
199  0x0273928ebcb46f954489dd1c40b1113f2aedd05e              Uniswap V3 USHI/Wrapped Ether 0.01%                                 9                           15749360

[200 rows x 4 columns]