In [1]:
from subgrounds import Subgrounds

In [2]:
sg = Subgrounds()
# endpoint = 'https://api.thegraph.com/subgraphs/name/cowprotocol/cow'
# endpoint = 'https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-arbitrum'
endpoint = 'https://api.thegraph.com/subgraphs/name/openpredict/chainlink-prices-subgraph'

In [3]:
# load subgraph endpoint into Subgrounds object
sub = sg.load_subgraph(endpoint)

In [4]:
# This shows the prices query fieldpath. It is represented as a FieldPath object in Subgrounds.
sub.Query.prices

FieldPath(https://api.thegraph.com/subgraphs/name/openpredict/chainlink-prices-subgraph, Query, ['prices'])

In [8]:
# define FieldPath query parameters
field_path_params = sub.Query.prices(
    orderBy='timestamp', 
    orderDirection='desc',
    where = {'timestamp_lt': 1663907363, 'assetPair': "ETH/USD"})

In [9]:
# Query the field path
sg_df = sg.query_df(field_path_params) # FieldPath | List[FieldPath], Columns: list[str]

In [10]:
sg_df

             prices_id prices_assetPair_id  prices_timestamp  prices_price
0   ETH/USD/0x632d2e4f             ETH/USD        1663905359  134046000000
1   ETH/USD/0x632d25af             ETH/USD        1663903151  134157000000
2   ETH/USD/0x632d245f             ETH/USD        1663902815  133405670000
3   ETH/USD/0x632d204b             ETH/USD        1663901771  132619032909
4   ETH/USD/0x632d1dab             ETH/USD        1663901099  132536350000
..                 ...                 ...               ...           ...
95  ETH/USD/0x632bac9f             ETH/USD        1663806623  124428000000
96  ETH/USD/0x632baa2f             ETH/USD        1663805999  123801756638
97  ETH/USD/0x632ba97b             ETH/USD        1663805819  124542000000
98  ETH/USD/0x632ba483             ETH/USD        1663804547  125173530000
99  ETH/USD/0x632ba057             ETH/USD        1663803479  125104611086

[100 rows x 4 columns]