In [1]:
from subgrounds import Subgrounds

In [2]:
sg = Subgrounds()
# endpoint = 'https://api.thegraph.com/subgraphs/name/cowprotocol/cow'
# endpoint = 'https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-arbitrum'
endpoint = 'https://api.thegraph.com/subgraphs/name/openpredict/chainlink-prices-subgraph'

In [3]:
# load subgraph endpoint into Subgrounds object
sub = sg.load_subgraph(endpoint)

In [4]:
# This shows the prices query fieldpath. It is represented as a FieldPath object in Subgrounds.
sub.Query.prices

FieldPath(https://api.thegraph.com/subgraphs/name/openpredict/chainlink-prices-subgraph, Query, ['prices'])

In [5]:
# define FieldPath query parameters
field_path_params = sub.Query.prices(
    orderBy='timestamp', 
    orderDirection='desc',
    first=777,
    where = {'timestamp_lt': 1663907363, 'assetPair': "ETH/USD"}
)

In [6]:
# Query the field path
sg_df = sg.query_df(field_path_params) # FieldPath | List[FieldPath], Columns: list[str]

In [7]:
sg_df

              prices_id prices_assetPair_id  prices_timestamp  prices_price
0    ETH/USD/0x632d2e4f             ETH/USD        1663905359  134046000000
1    ETH/USD/0x632d25af             ETH/USD        1663903151  134157000000
2    ETH/USD/0x632d245f             ETH/USD        1663902815  133405670000
3    ETH/USD/0x632d204b             ETH/USD        1663901771  132619032909
4    ETH/USD/0x632d1dab             ETH/USD        1663901099  132536350000
..                  ...                 ...               ...           ...
772  ETH/USD/0x632118d2             ETH/USD        1663113426  157435886336
773  ETH/USD/0x632115a6             ETH/USD        1663112614  157740316095
774  ETH/USD/0x63210ff1             ETH/USD        1663111153  156833815481
775  ETH/USD/0x63210d6d             ETH/USD        1663110509  158266778072
776  ETH/USD/0x63210aaa             ETH/USD        1663109802  159133090000

[777 rows x 4 columns]