In [24]:
from subgrounds import Subgrounds

In [25]:
sg = Subgrounds()
# endpoint = 'https://api.thegraph.com/subgraphs/name/cowprotocol/cow'
endpoint = 'https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-arbitrum'

In [26]:
sub = sg.load_subgraph(endpoint)

In [27]:
sub.Query.usageMetricsHourlySnapshots

FieldPath(https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-arbitrum, Query, ['usageMetricsHourlySnapshots'])

In [28]:
field_path_params = sub.Query.usageMetricsHourlySnapshots(first=5, orderBy='timestamp', orderDirection='desc')

In [29]:
# Query for a specific subground
sg_df = sg.query_df(field_path_params) # FieldPath | List[FieldPath], Columns: list[str]

In [30]:
sg_df

,usageMetricsHourlySnapshots_id,usageMetricsHourlySnapshots_protocol_id,usageMetricsHourlySnapshots_hourlyActiveUsers,usageMetricsHourlySnapshots_cumulativeUniqueUsers,usageMetricsHourlySnapshots_hourlyTransactionCount,usageMetricsHourlySnapshots_hourlyDepositCount,usageMetricsHourlySnapshots_hourlyWithdrawCount,usageMetricsHourlySnapshots_hourlySwapCount,usageMetricsHourlySnapshots_blockNumber,usageMetricsHourlySnapshots_timestamp
0,464687,0x1f98431c8ad98523631ae4a59f267346ea31f984,120,641135,215,10,9,196,50905209,1672874028
1,464686,0x1f98431c8ad98523631ae4a59f267346ea31f984,490,641129,1104,41,33,1030,50903643,1672873191
2,464685,0x1f98431c8ad98523631ae4a59f267346ea31f984,516,641104,979,46,43,890,50896507,1672869577
3,464684,0x1f98431c8ad98523631ae4a59f267346ea31f984,604,641069,1493,45,54,1394,50889109,1672865995
4,464683,0x1f98431c8ad98523631ae4a59f267346ea31f984,650,641027,2161,54,62,2045,50880945,1672862398